@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
* {
    font-family: 'Kumbh Sans', sans-serif;
}
main {
    .bg-1 {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: hsl(185, 75%, 39%);
        img {
            width: 60%;
            margin-top: -20%;
            margin-left: -15%;
        }
    }
    .bg-2 {
        position: fixed;
        width: 100%;
        height: 100%;
        img {
            width: 60%;
            margin-left: 50%;
            margin-top: 25%;
        }
    }
    .bg-main {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        text-align: center;
        color: hsl(229, 23%, 23%);
        .card-body {
            width: 350px;
            background: #FFFFFF;
            height: 360px;
            border-radius: 15px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10%;
            img {
                border-radius: 15px 15px 0px 0px;
            }
            .info-card {
                margin-top: -15%;
                img {
                    border-radius: 50%;
                    border: 5px solid #FFF;
                }
                h1 {
                    margin: 0;
                    font-size: 20px;
                    margin-bottom: 5px;
                    margin-top: 5px;
                    span {
                        font-weight: 400;
                        color: hsl(227, 10%, 46%);
                        font-size: 20px;
                    }
                }
                span {
                    color: hsl(227, 10%, 46%);
                    font-size: 15px;
                }
                hr {
                    margin-top: 5%;
                    color: hsl(227, 10%, 46%);
                    filter: opacity(0.5);
                }
                .stats-card {
                    display: flex;
                    padding-left: 5%;
                    padding-right: 5%;
                    div {
                        width: 30%;
                        text-align: center;
                        margin: 5%;
                        span {
                            display: block;
                        }
                        span:first-child {
                            color: hsl(229, 23%, 23%);
                            font-size: 20px;
                            font-weight: 700;
                        }
                        span:nth-child(2) {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}


.attribution {
    font-size: 11px;
    text-align: center;
    z-index: 12;
    position: absolute;
    bottom: 3px;
    text-align: center;
    width: 100%;
    a {
        color: hsl(228, 45%, 44%);
    }
}

@media (max-width: 500px) {
    .bg-2 {
        img {
            margin-top: 100%!important;
        }
    }
    .card-body {
        margin-top: 25%!important;
    }
}